doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
.title
  h1 Demo Nodejs Express
  h2 Hello Everyone Today
  h3 I&apos;m Khoi Map Dit
  a(href='/user') My List Friend
  br
  a(href='/login') Login